<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% comment %} {% load_static %}
        <link rel="stylesheet" href="{% static 'URL_Mapper/shorten_style.css' %}"> {% endcomment %}
    </head>
    <body>
        <h1>URL Shortner</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Short_URL">Short URL</button>
        </form>
        <form method="post" action="{% url "URL_Mapper:List" %}">
            {% csrf_token %}
            <button type="submit" value="List_Button">Show List</button>
        </form>
    </body>
</html>